<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FreshBerries"
        tools:targetApi="31">
        <activity
            android:name=".Activities.InicioActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ui.DetalleVenta.ProductosDisponiblesActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ui.DetalleVenta.AddProductoActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivityEmpleados"
            android:exported="false"
            android:label="@string/title_activity_main_empleados"
            android:theme="@style/Theme.FreshBerries.NoActionBar" />
        <activity
            android:name=".Activities.MainActivityEmpleado"
            android:exported="false"
            android:label="@string/title_activity_main_empleado" />
        <activity
            android:name=".Activities.ui.usuario.ListarUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ui.usuario.BuscarUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ui.usuario.RegistrarUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ui.ventas.ListarVentasActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ui.ventas.RegistrarVentaActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ui.ventas.BuscarVentaActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ui.producto.RegistrarProductoActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ui.producto.ListarProductoActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ui.producto.BuscarProductoActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ui.proveedores.ListarProveedorActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ui.clientes.ListarClienteActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ui.clientes.BuscarClienteActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ui.clientes.ActivityRegistrarCliente"
            android:exported="false" />
        <activity
            android:name=".Activities.ui.proveedores.BuscarProveedorActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ui.proveedores.RegistrarProveedorActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivityAdministrador"
            android:exported="false"
            android:label="@string/title_activity_main_administrador"
            android:theme="@style/Theme.FreshBerries.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>